[Unit]
Description=example systemd service unit file.

[Service]
WorkingDirectory=/root/brute-prod
EnvironmentFile=/root/brute-prod/secret.env
ExecStart=/usr/bin/env python3 telnet.py <b-domain> 23
Restart=always

[Install]
WantedBy=multi-user.target
