[Unit]
Description=example systemd service unit file.

[Service]
WorkingDirectory=/root/brute-prod
EnvironmentFile=/root/brute-prod/secret.env
ExecStart=/usr/bin/env python3 -m uvicorn web:app --host=127.0.0.1 --port=8888 --workers 4
Restart=always

[Install]
WantedBy=multi-user.target
